/* ---------------------------------------

------------------------------------------

[Table of contents]

1. Fonts
2. Reset Css
3. Global Settings
4. Section Styles
5. Colors
6. Margin and Padding
7. Background Overlay
8. Buttons Style
9. Preloader
10. ScrollUp Button
11. Main Header style
12. Hero Area
13. Features Area
14. Custom Hero
15. Promo Area
16. Our Partners
17. Pricing Table
18. Why Choose us
19. Parallax Area
20. Testimonial Area
21. Counter Area
22. App Area
23. Blog Area
24. Footer Area
25. Custom Banner
26. About Area
27. Award Area
28. Card Features
29. All Partners Area
30. Team Area
31. Card Apply Form
32. Become Partner Area
33. Card Details Area
34. Choose Card
35. Faq Area
36. Error Area

-------------------------------------------*/
/*** 

================
	Fonts
================


font-family: 'Noto Sans KR', sans-serif;
font-family: 'Heebo', sans-serif;

 ***/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Noto+Sans+KR:300,400,500,700&amp;display=swap");
/*
  Flaticon icon font: Flaticon
*/
@font-face {
    font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @    font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}

.flaticon-add:before {
    content: "\f100";
}

.flaticon-bag:before {
    content: "\f101";
}

.flaticon-battery:before {
    content: "\f102";
}

.flaticon-bell:before {
    content: "\f103";
}

.flaticon-bluetooth:before {
    content: "\f104";
}

.flaticon-bookmark:before {
    content: "\f105";
}

.flaticon-briefcase:before {
    content: "\f106";
}

.flaticon-calendar:before {
    content: "\f107";
}

.flaticon-cancel:before {
    content: "\f108";
}

.flaticon-cancel-1:before {
    content: "\f109";
}

.flaticon-clip:before {
    content: "\f10a";
}

.flaticon-clock:before {
    content: "\f10b";
}

.flaticon-clock-1:before {
    content: "\f10c";
}

.flaticon-cloud:before {
    content: "\f10d";
}

.flaticon-correct:before {
    content: "\f10e";
}

.flaticon-credit-card:before {
    content: "\f10f";
}

.flaticon-cursor:before {
    content: "\f110";
}

.flaticon-cursor-1:before {
    content: "\f111";
}

.flaticon-cut:before {
    content: "\f112";
}

.flaticon-cutlery:before {
    content: "\f113";
}

.flaticon-down-arrow:before {
    content: "\f114";
}

.flaticon-download:before {
    content: "\f115";
}

.flaticon-edit:before {
    content: "\f116";
}

.flaticon-envelope:before {
    content: "\f117";
}

.flaticon-export:before {
    content: "\f118";
}

.flaticon-favorite:before {
    content: "\f119";
}

.flaticon-file:before {
    content: "\f11a";
}

.flaticon-folder:before {
    content: "\f11b";
}

.flaticon-forward:before {
    content: "\f11c";
}

.flaticon-gallery:before {
    content: "\f11d";
}

.flaticon-gamepad:before {
    content: "\f11e";
}

.flaticon-garbage:before {
    content: "\f11f";
}

.flaticon-headphones:before {
    content: "\f120";
}

.flaticon-heart:before {
    content: "\f121";
}

.flaticon-help:before {
    content: "\f122";
}

.flaticon-home:before {
    content: "\f123";
}

.flaticon-hourglass:before {
    content: "\f124";
}

.flaticon-info:before {
    content: "\f125";
}

.flaticon-layer:before {
    content: "\f126";
}

.flaticon-layout:before {
    content: "\f127";
}

.flaticon-left-arrow:before {
    content: "\f128";
}

.flaticon-left-arrow-1:before {
    content: "\f129";
}

.flaticon-lightning:before {
    content: "\f12a";
}

.flaticon-link:before {
    content: "\f12b";
}

.flaticon-logout:before {
    content: "\f12c";
}

.flaticon-magnet:before {
    content: "\f12d";
}

.flaticon-map:before {
    content: "\f12e";
}

.flaticon-menu:before {
    content: "\f12f";
}

.flaticon-monitor:before {
    content: "\f130";
}

.flaticon-moon:before {
    content: "\f131";
}

.flaticon-padnote:before {
    content: "\f132";
}

.flaticon-paint:before {
    content: "\f133";
}

.flaticon-pause:before {
    content: "\f134";
}

.flaticon-photo-camera:before {
    content: "\f135";
}

.flaticon-placeholder:before {
    content: "\f136";
}

.flaticon-play-button:before {
    content: "\f137";
}

.flaticon-power:before {
    content: "\f138";
}

.flaticon-presentation:before {
    content: "\f139";
}

.flaticon-printer:before {
    content: "\f13a";
}

.flaticon-profile:before {
    content: "\f13b";
}

.flaticon-prohibition:before {
    content: "\f13c";
}

.flaticon-push-pin:before {
    content: "\f13d";
}

.flaticon-puzzle:before {
    content: "\f13e";
}

.flaticon-refresh:before {
    content: "\f13f";
}

.flaticon-remove:before {
    content: "\f140";
}

.flaticon-rewind:before {
    content: "\f141";
}

.flaticon-right-arrow:before {
    content: "\f142";
}

.flaticon-right-arrow-1:before {
    content: "\f143";
}

.flaticon-rocket-launch:before {
    content: "\f144";
}

.flaticon-screen:before {
    content: "\f145";
}

.flaticon-search:before {
    content: "\f146";
}

.flaticon-settings:before {
    content: "\f147";
}

.flaticon-settings-1:before {
    content: "\f148";
}

.flaticon-settings-2:before {
    content: "\f149";
}

.flaticon-share:before {
    content: "\f14a";
}

.flaticon-shield:before {
    content: "\f14b";
}

.flaticon-shopping-cart:before {
    content: "\f14c";
}

.flaticon-shutter:before {
    content: "\f14d";
}

.flaticon-smartphone:before {
    content: "\f14e";
}

.flaticon-speech-bubble:before {
    content: "\f14f";
}

.flaticon-speedometer:before {
    content: "\f150";
}

.flaticon-stats:before {
    content: "\f151";
}

.flaticon-store:before {
    content: "\f152";
}

.flaticon-sun:before {
    content: "\f153";
}

.flaticon-switch:before {
    content: "\f154";
}

.flaticon-tag:before {
    content: "\f155";
}

.flaticon-target:before {
    content: "\f156";
}

.flaticon-timer:before {
    content: "\f157";
}

.flaticon-unlock:before {
    content: "\f158";
}

.flaticon-up-arrow:before {
    content: "\f159";
}

.flaticon-upload:before {
    content: "\f15a";
}

.flaticon-video:before {
    content: "\f15b";
}

.flaticon-video-camera:before {
    content: "\f15c";
}

.flaticon-visible:before {
    content: "\f15d";
}

.flaticon-voice-recorder:before {
    content: "\f15e";
}

.flaticon-volume:before {
    content: "\f15f";
}

.flaticon-waiting:before {
    content: "\f160";
}

.flaticon-wifi:before {
    content: "\f161";
}

.flaticon-zoom:before {
    content: "\f162";
}

.flaticon-zoom-out:before {
    content: "\f163";
}

/*** 

===============
	Reset Css
===============

 ***/
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}

/*** 

===================
	Global Settings
===================

 ***/
body {
    font-size: 16px;
    color: #212935;
    line-height: 1.7em;
    font-weight: 400;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: "Heebo", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    color: #212935;
}

button,
a:hover, a:focus, a:visited {
    text-decoration: none;
    outline: none !important;
    transition: .3s;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-weight: 700;
    margin: 0px;
    background: none;
    line-height: 1.2em;
    font-family: "Noto Sans KR", sans-serif;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

input, button, select, textarea {
    outline: none;
}

textarea {
    overflow: hidden;
}

p {
    position: relative;
    font-family: "Heebo", sans-serif;
    font-size: 14px;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    display: inline-block;
    max-width: 100%;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: inline-block;
    max-width: 100%;
}

::selection {
    background-color: #0E8A701a;
    color: #F35B8E;
}

-moz-::selection {
    background-color: #0E8A701a;
    color: #F35B8E;
}

-webkit-::selection {
    background-color: #0E8A701a;
    color: #F35B8E;
}

-o-::selection {
    background-color: #0E8A701a;
    color: #F35B8E;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.border-0 {
    border: 0px;
}

.radius-50 {
    border-radius: 50px !important;
}

.centered {
    text-align: center;
}

/*** 

==================
    Color Classes
==================

***/
.cl-black {
    color: #212935;
}

.cl-black-2 {
    color: #19222f;
}

.cl-primary {
    color: #F35B8E;
}

.cl-white {
    color: #ffffff;
}

.cl-blue {
    color: #5350ff;
}

.cl-blue-2 {
    color: #5350ff;
}

.cl-green {
    color: #86BC42;
}

.cl-mint {
    color: #17c0eb;
}

.cl-yellow {
    color: #efc12b;
}

.cl-facebook {
    color: #3B5999;
}

.cl-twitter {
    color: #55ACEE;
}

.cl-youtube {
    color: #CD201F;
}

.cl-pinterest {
    color: #BD081C;
}

.cl-instagram {
    color: #F5214A;
}

.facebook-bg {
    background: #3B5999;
}

.twitter-bg {
    background: #55ACEE;
}

.youtube-bg {
    background: #CD201F;
}

.pinterest-bg {
    background: #BD081C;
}

.google-plus-bg {
    background: #DD5144;
}

.linkedin-bg {
    background: #0077B5;
}

.instagram-bg {
    background: #F5214A;
}

/*** 

==================
    Section Styles
==================

***/
.container {
    max-width: 1200px;
}

.container-fluid {
    padding: 0 50px;
}

@media (max-width: 1199px) {
    .container-fluid {
        padding: 0 15px;
    }
}

.section-padding {
    padding: 100px 0;
}

.section-padding-2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.section-padding-3 {
    padding-top: 60px;
    padding-bottom: 0px;
}

.section-title {
    margin-bottom: 25px;
}

.section-title h2 {
    position: relative;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.4;
    z-index: 1;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.section-title h2 span {
    color: #F35B8E;
}

.section-title h4 {
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 20px;
    font-weight: 600;
    display: inline-block;
    background: #ffffff;
    color: #19222f;
    padding: 10px 25px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.section-title p {
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .section-padding {
        padding: 100px 0;
    }

    .section-padding-2 {
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .section-padding-3 {
        padding-top: 100px;
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .section-padding {
        padding: 80px 0;
    }

    .section-padding-2 {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    .section-padding-3 {
        padding-top: 80px;
        padding-bottom: 20px;
    }
}

@media (max-width: 575px) {
    .section-title h2 {
        font-size: 36px;
    }
}

@media (max-width: 450px) {
    .section-title h2 {
        font-size: 32px;
    }
}

/*** 

=======================
    Margin and Padding
=======================

***/
/* 
    Margin Top styles
*/
.mar-0 {
    margin: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

/* 
    Margin Bottom Styles
*/
.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

/* 
    Margin Right Styles
*/
.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

/* 
    Padding Top Styles
*/
.pad-0 {
    padding: 0;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

/* 
    Padding Bottom Styles
*/
.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

/*** 

============================
    Background and Overlay
============================

***/
.gray-bg {
    background: #F9F9F9;
}

.black-bg {
    background: #212935;
}

.black-bg-2 {
    background: #19222f;
}

.primary-bg {
    background: #F35B8E;
}

.primary-light-bg {
    background: #00C9B72c;
}

.primary-bg-dark {
    background: #037EBD;
}

.white-bg {
    background: #ffffff;
}

.blue-bg {
    background: #5350ff;
}

.light-blue-bg {
    background: #234BA5;
}

.green-bg {
    background: #86BC42;
}

.blue-bg-2 {
    background: #000040;
}

.red-bg {
    background: #ff6348;
}

.yellow-bg {
    background: #efc12b;
}

.yellow-light-bg {
    background: #e9eef7;
}

.purple-bg {
    background: #8E0EF0;
}

.purple-light-bg {
    background: #E8CFFC;
}

.mint-bg {
    background: #17c0eb;
}

.transparent-bg {
    background: transparent;
}

.color-overlay {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}
.color-overlay:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #a2556e;
    content: "";
    z-index: -1;
    opacity: .8;
}


/*** 

===================
    Buttons Style
===================

***/
.bttn-mid {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 82px;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.4s;
    font-family: "Noto Sans KR", sans-serif;
    border-radius: 5px;
}

.bttn-small {
    position: relative;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 24px;
    display: inline-block;
    cursor: pointer;
    transition: 0.4s;
    font-family: "Noto Sans KR", sans-serif;
    text-transform: uppercase;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    letter-spacing: 1px;
    border-radius: 3px;
}

.bttn-mid i, .bttn-small i {
    margin-right: 7px;
}

.btn-fill {
    color: #ffffff;
    background: #26b2fd;
    border-radius: 50px;
}

.btn-fill:hover {
    background: #ff6348;
    color: #ffffff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}

.btn-blue {
    color: #ffffff;
    background: #2196F3;
}

.btn-blue:hover {
    background: #ff6348;
    color: #ffffff;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
}
.bttn-mid.btn-emt {
    padding: 12px 41px;
}

.btn-emt {
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.btn-emt:hover {
    color: #fff;
    box-shadow: none;
    background: #F35B8E;
    border: 2px solid transparent;
}

.btn-wht {
    background: #ffffff;
    color: #F35B8E;
}

.btn-wht:hover {
    background: #F35B8E;
    color: #ffffff;
}

/* ==============================
    Preloader
    ============================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #212935;
}

.spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    border-top-color: #F35B8E;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* 
==============================
    ScrollUp Button 
============================== 
*/
a#scrollUp {
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
    background: #F35B8E;
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
}

@keyframes up-down {
    0% {
        top: 3%;
    }

    50% {
        top: 5%;
    }

    100% {
        top: 3%;
    }
}

/*

==========================
  Header notifications
==========================

*/
.top-notifications {
    background: #F35B8E;
}

.top-notifications .alert {
    margin: 0;
    text-align: center;
    padding: 15px 0;
}

.top-notifications .alert a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.top-notifications .alert a:hover {
    text-decoration: underline;
}

.top-notifications .alert button {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding-right: 10px;
    padding-top: 5px;
}

/*

==========================
  Main Header style
==========================

*/
.header-area { 
    transition: 0.4s;
    width: 100%;
    z-index: 11;
}

.header-area.fixed-header {
    position: fixed;
}

.header-area.fixed-header ul li a {
    color: #212935;
}

@media (max-width: 991px) {
    .header-area.fixed-header ul li a {
        color: #ffffff;
    }
}

.header-area.fixed-header ul li a:hover {
    color: #F35B8E;
}

.header-area.fixed-header .header-btn {
    margin-left: 40px;
}

@media (max-width: 991px) {
    .header-area.fixed-header .header-btn {
        margin-left: 0;
    }
}

.header-area.fixed-header .header-btn button {
    color: #ffffff;
}

.header-area.fixed-header .header-btn button:hover {
    color: #F35B8E;
}

.header-area.sticky-header {
    padding: 10px 0;
    box-shadow: 0px 6px 20px -15px rgba(63, 94, 103, 0.51);
}

.header-area.sticky-header ul li a {
    color: #212935;
}

@media (max-width: 991px) {
    .header-area.sticky-header ul li a {
        color: #ffffff;
    }
}

.header-area.sticky-header ul li a:hover {
    color: #F35B8E;
}

.header-sticky {
    background: transparent;
}

.sticky-header {
    background: #ffffff;
    padding: 10px 0;
}

.navbar-brand img {
    width: 120px;
}

.main-menu {
    padding-left: 0;
    padding-right: 0;
}

.main-menu ul li {
    margin-right: 25px;
}

.main-menu ul li:last-child {
    margin-right: 0px;
}

.main-menu ul li:hover a {
    color: #81cf01;
}

.main-menu ul li a {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    position: relative;
}

.main-menu ul li a span {
    text-transform: uppercase;
    position: absolute;
    top: -2px;
    background: #F35B8E;
    color: #ffffff;
    font-size: 8px;
    line-height: initial;
    padding: 2px 6px;
    right: 7px;
    font-weight: 700;
}

.main-menu ul li:nth-last-of-type(1) .dropdown-menu .dropdown-menu, .main-menu ul li:nth-last-of-type(2) .dropdown-menu .dropdown-menu, .main-menu ul li:nth-last-of-type(3) .dropdown-menu .dropdown-menu {
    left: -100%;
    top: 0;
}

.main-menu ul.dropdown-menu li a span {
    top: 50% !important;
    transform: translateY(-50%);
    right: 15px;
}

ul.dropdown-menu li a {
    text-transform: capitalize;
}

li.nav-item.dropdown .dropdown-toggle {
    position: relative;
}

li.nav-item.dropdown .dropdown-toggle:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    font-weight: normal;
    right: -7px;
    top: 48%;
    transform: translateY(-48%);
}

@media (max-width: 991px) {
    li.nav-item.dropdown .dropdown-toggle:before {
        display: none;
    }
}

.dropdown-menu li.nav-item.dropdown:before {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    right: 15px;
    top: 48%;
    transform: translateY(-48%) rotate(-90deg);
    color: #212935;
}

.dropdown a {
    transition: 0.4s;
}

.dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    display: block;
    background: #ffffff;
    margin-top: 23px;
    width: 220px;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
    box-shadow: 0px 7px 20px -14px rgba(34, 54, 60, 0.74);
}

.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -5px, 0);
}

.dropdown-menu a {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
    color: #212935 !important;
}

.dropdown-menu a:hover {
    background: transparent;
}

.dropdown-menu a:active {
    background: transparent;
}

ul.dropdown-menu li .dropdown-menu {
    left: 100%;
    top: 0;
}

@media (max-width: 991px) {
    ul.dropdown-menu li .dropdown-menu.show {
        visibility: visible;
        opacity: 1;
    }
}

.main-menu ul li ul li {
    margin-right: 0;
}

.menu-toggle {
    position: relative;
    display: block;
    width: 25px;
    height: 20px;
    background: transparent;
    border-top: 2px solid #212935;
    border-bottom: 2px solid #212935;
    color: #212935;
    font-size: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.menu-toggle:before, .menu-toggle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #212935;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -o-transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    -moz-transition: -webkit-transform 0.25s ease-in-out;
    -ms-transition: -webkit-transform 0.25s ease-in-out;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

span.menu-toggle:hover {
    color: #ffb606;
}

span.is-active {
    border-color: transparent;
}

span.is-active:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

span.is-active:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-toggle::after {
    display: none;
}

.black-bg .menu-toggle {
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.black-bg .menu-toggle::before, .black-bg .menu-toggle::after {
    background: #ffffff;
}

.black-bg .menu-toggle.is-active {
    border-color: transparent;
}

.search-btn {
    font-size: 14px;
    color: #ffffff;
    display: inline-block;
}

/* Full Screen Search */
.search-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    background: #17c0eb;
    z-index: 999;
    transition: all 0.3s ease-in-out;
    transform-origin: top;
}

.search-full.open {
    height: 150px;
    opacity: 1;
    visibility: visible;
}

.search-full.close {
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.search-full .search-close {
    color: #F35B8E;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9;
    background: transparent;
    color: #ffffff;
}

.search-full .search-close:hover {
    transform: rotate(90deg);
}

.search-full--inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.main-search-form {
    width: 100%;
}

.main-search-form input {
    border: 2px solid #ffffff;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    height: 55px;
    font-size: 18px;
    font-weight: 300;
    text-indent: 20px;
    transition: 0.4s;
}

.main-search-form input:focus, .main-search-form input:hover {
    border: 2px solid #ffffff;
}

.main-search-form input::-webkit-input-placeholder {
    color: #ffffff;
}

.main-search-form input::-moz-placeholder {
    color: #ffffff;
}

.main-search-form input:-ms-input-placeholder {
    color: #ffffff;
}

.main-search-form input:-moz-placeholder {
    color: #ffffff;
}

@media (max-width: 991px) {
    .navbar-brand {
        margin-left: 15px;
    }

    .main-menu ul li {
        margin-right: 0;
        position: relative;
        margin: 3px 0;
    }

    .main-menu ul li.dropdown a {
        z-index: 999;
        position: relative;
        color: #ffffff;
    }

    .main-menu ul li a {
        color: #ffffff;
    }

    .main-menu ul li.dropdown:after {
        position: absolute;
        content: "\f107";
        font-family: FontAwesome;
        right: 15px;
        top: 0;
        color: #ffffff;
        line-height: 45px;
        overflow: hidden;
        z-index: 1;
        width: 45px;
        text-align: center;
        background: #F35B8E;
    }

    .dropdown-menu {
        display: none;
    }

    .dropdown-menu {
        width: auto;
        margin: 10px 15px 10px 0;
        background: #ffffff;
    }

    .navbar-collapse {
        margin-top: 20px;
        padding-left: 15px;
        max-height: 450px;
        overflow: auto;
        background: #212935;
        padding-bottom: 20px;
    }

    .cart-btn {
        margin-left: 0;
        margin-top: 15px;
    }

    li.nav-item.dropdown:before {
        display: none;
    }

    .header-btn {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .main-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .navbar-toggler {
        padding-right: 0;
    }
}

/*

===============================
Footer Area
===============================

*/
.footer-area {
    position: relative;
    z-index: 1;
    background: #1C2B36;
}

.footer-area .footer-widget {
    margin-bottom: 30px;
    color: #ffffff;
}

.footer-area .footer-widget h3 {
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: -4px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
}

.footer-area .footer-widget p {
    margin-bottom: 20px;
    color: #96abbb;
}

.footer-area .footer-widget .social a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
}

.footer-area .footer-widget .social a:hover {
    background: #5350ff;
    color: #ffffff;
}

.footer-area .footer-widget.footer-nav {
    margin-bottom: 30px;
}

.footer-area .footer-widget.footer-nav ul li {
    margin-bottom: 10px;
    position: relative;
    transition: 0.4s;
}

.footer-area .footer-widget.footer-nav ul li:last-child {
    margin-bottom: 0;
}

.footer-area .footer-widget.footer-nav ul li:hover {
    color: #73e457;
}

.footer-area .footer-widget.footer-nav ul li a {
    color: #96abbb;
    text-transform: capitalize;
    font-family: "Noto Sans KR", sans-serif;
    padding-left: 25px;
    position: relative;
    font-size: 14px;
}

.footer-area .footer-widget.footer-nav ul li a::before {
    position: absolute;
    content: "\f124";
    transform: rotate(45deg);
    left: 0;
    top: -3px;
    font-family: Fontawesome;
    font-size: 12px;
}

.footer-area .footer-widget.footer-nav ul li a:hover {
    color: #ffffff;
}

.footer-area .footer-widget.footer-insta .row {
    margin: 0 -2px;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] {
    padding: 0 2px;
    margin-bottom: 4px;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a {
    position: relative;
    display: block;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a img {
    width: 100%;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background: #F35B8E;
    opacity: 0;
    transition: 0.4s;
    z-index: 1;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 16px;
    content: "\f06e";
    font-family: Fontawesome;
    opacity: 0;
    z-index: 2;
    transition: 0.4s;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:hover::before {
    opacity: 0.8;
}

.footer-area .footer-widget.footer-insta .row [class*="col"] a:hover:after {
    opacity: 1;
}

.copyright {
    background: #263845;
    color: #96abbb;
    padding: 20px 0;
    font-size: 14px;
}

@media (max-width: 767px) {
    .copyright .copy-text {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
}

.copyright .copy-text p {
    margin: 0;
}

.copyright .copy-nav ul {
    margin: 0;
    float: right;
}

@media (max-width: 767px) {
    .copyright .copy-nav ul {
        float: none;
        text-align: center;
    }
}

.copyright .copy-nav ul li {
    display: inline-block;
    margin: 0 8px;
}

.copyright .copy-nav ul li a {
    color: #96abbb;
    font-size: 14px;
}

.copyright .copy-nav ul li a:hover {
    color: #ffffff;
}

/*

===============================
Hero Area
===============================

*/
.hero-section {
    position: relative;
    overflow: hidden;
    padding: 100px 0 150px 0;
    background: #fff;
}

.hero-section::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 57%;
    left: 0;
    top: 0;
    opacity: 0.45;
    transform: skewX(-20deg);
    background: #f857a6;
    background: linear-gradient(to right, #dcff1e, #e4cca6);
    background: url(../images/custom-banner.jpg);
    background-position: left bottom;
}

/*.hero-section .profile-hero { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
*/ 
.hero-section .profile-hero h2 {
    font-size: 48px;
    margin-bottom: 15px;
    font-weight: 300;
    font-weight: 600;
}

.hero-section .profile-hero p {
    font-size: 18px;
    margin: 0;
}

.hero-section .profile-hero .social {
    margin-top: 20px;
}

.hero-section .profile-hero .social a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #212935;
    color: #ffffff;
    display: inline-block;
    margin: 0 2px;
}

.hero-section .profile-hero .social a:hover {
    background: #5350ff;
}

/*

===============================
search-area
===============================

*/
.search-area .search-form {
    padding: 50px 80px;
    background: #19222f;
    margin-top: -75px;
    overflow: hidden;
    border-radius: 5px;
}

@media (max-width: 575px) {
    .search-area .search-form {
        padding: 50px 20px;
    }
}

.search-area .search-form form {
    height: 60px;
    background: #fff;
    border-radius: 5px;
}

.search-area .search-form form input {
    width: 70%;
    float: left;
    height: 100%;
    text-indent: 15px;
    border-radius: 5px 0 0 5px;
}

@media (max-width: 575px) {
    .search-area .search-form form input {
        width: 50%;
    }
}

.search-area .search-form form .select {
    width: 15%;
    float: left;
    height: 100%;
    position: relative;
    border-left: 1px solid #e6e6e6;
    padding-left: 10px;
    font-size: 14px;
}

@media (max-width: 575px) {
    .search-area .search-form form .select {
        width: 25%;
    }
}

.search-area .search-form form .select::after {
    position: absolute;
    font-family: Fontawesome;
    content: "\f107";
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.search-area .search-form form .select select {
    height: 100%;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
}

.search-area .search-form form button {
    width: 15%;
    float: left;
    height: 100%;
    border-radius: 0 5px 5px 0;
    background: #81cf01;
    color: #ffffff;
    font-weight: 700;
}

@media (max-width: 575px) {
    .search-area .search-form form button {
        width: 25%;
    }
}

/*

===============================
Why Choose Us
===============================

*/
.why-choose-us {
    position: relative;
    overflow: hidden;
}

.why-choose-us .single-why-choose {
    margin-bottom: 30px;
    overflow: hidden;
    color: #19222f;
    border-radius: 4px;
    text-align: center;
    padding: 30px;
    transition: 0.4s;
    border: 1px solid #eaeaea;
}

.why-choose-us .single-why-choose img {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

.why-choose-us .single-why-choose .single-why-choose-content h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.why-choose-us .single-why-choose .single-why-choose-content p {
    font-size: 16px;
    margin-bottom: 0;
}

/*

===============================
Product grid
===============================

*/
.single-product {
    border: 2px solid #ffffff;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
}

.single-product a {
    display: block;
}

.single-product a .single-product-img {
    position: relative;
}

.single-product a .single-product-img img {
    border-radius: 5px;
}

.like-view ul li {
    display: inline-block;
    padding-left: 15px;
}
.like-view ul li i{ 
    margin-right: 5px;
}
.single-product-content h4{
    font-size: 18px;
    margin-bottom: 15px;
}
.single-product-content {
    padding: 20px;
}
.single-product-content-meta .left {
    margin-bottom: 10px;
}
.single-product a .single-product-content h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    transition: 0.3s;
}
.campain-slides .owl-nav button.owl-prev {
    background-color: #ff4864;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 40%;
    bottom: -13%;
    color: #fff;
    font-size: 30px;
}
.campain-slides .owl-nav button.owl-next {
    background-color: #ff4864;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 52%;
    bottom: -13%;
    color: #fff;
    font-size: 30px;
}
.single-product a .single-product-content p {
    margin-bottom: 0;
    font-size: 16px;
    color: #868686;
    margin-bottom: 20px;
}

.single-product a .single-product-content-meta {
    color: #19222f;
    overflow: hidden;
    padding-bottom: 10px;
}
.single-product-content-meta h5{
    margin-bottom: 15px;
}
.single-product a .single-product-content-meta:last-child {
    border-bottom: 0px;
    margin: 0;
    padding: 0;
}

.single-product a .single-product-content-meta i {
    margin-right: 5px;
    font-size: 18px;
}

.single-product a .single-product-content-meta img {
    margin-right: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.single-product a .single-product-content-meta .left { 
    font-size: 14px;
}

.single-product a .single-product-content-meta .left strong {
    font-size: 14px;
}

.single-product a .single-product-content-meta .right {
    float: right;
}

.single-product a .single-product-content-meta .right del {
    margin-right: 8px;
    font-size: 16px;
}

.single-product a .single-product-content-meta .right strong {
    font-size: 20px;
    color: #F35B8E;
}

.single-product a .single-product-content-meta .right span i {
    font-size: 14px;
    margin: 0 1px;
    color: #efc12b;
}

.single-product:hover {
    border-color: #F9F9F9;
}

.single-product:hover .single-product-content h4 {
    color: #F35B8E;
}
.single-product-content-meta ul li{
    cursor: pointer;
}

/*

===============================
New Items
===============================

*/
.single-new-item {
    margin: 15px 7px;
    width: calc(100% / 8);
    display: inline-block;
}

@media (max-width: 991px) {
    .single-new-item {
        width: calc(100% / 5);
    }
}

@media (max-width: 767px) {
    .single-new-item {
        width: calc(100% / 4);
    }
}

@media (max-width: 575px) {
    .single-new-item {
        width: calc(100% / 3);
    }
}

@media (max-width: 450px) {
    .single-new-item {
        width: calc(100% / 2);
    }
}

/*

===============================
feature area
===============================

*/
.feature-area {
    background: #f35b8e;
}

.feature-area .single-feature-2 {
    margin-bottom: 30px;
    padding: 0 10px;
    text-align: center;
    color: #ffffff;
    position: relative;
}

.feature-area .single-feature-2.bottom-after:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    top: 10px;
    left: 70%;
    background: url(../images/after-1.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .feature-area .single-feature-2.bottom-after:after {
        display: none;
    }
}

.feature-area .single-feature-2.bottom-before:after {
    content: '';
    position: absolute;
    width: 70%;
    height: 32px;
    bottom: 165px;
    left: 70%;
    background: url(../images/after-2.png) center center no-repeat;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media (max-width: 991px) {
    .feature-area .single-feature-2.bottom-before:after {
        display: none;
    }
}

.feature-area .single-feature-2 i {
    font-size: 34px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
    transition: 0.4s;
}

.feature-area .single-feature-2 h4 {
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
    transition: 0.4s;
}

.feature-area .single-feature-2 p {
    margin-bottom: -5px;
}

.feature-area .single-feature-2:hover i {
    background: #ffffff;
    color: #22A6B3;
}

/*

===============================
brands Area
===============================

*/
.brands {
    text-align: center;
}

.brands .single-brands {
    margin-bottom: 30px;
}

.brands .single-brands a {
    display: block;
}

.brands .single-brands a img {
    height: 60px;
    width: auto !important;
    margin: auto;
}

/*

===============================
Review Area
===============================

*/
.review-area .reviews {
    padding: 40px;
    box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

@media (max-width: 400px) {
    .review-area .reviews {
        padding: 20px;
    }
}

.review-area .reviews .single-review .reviewer-thumb {
    margin-bottom: 20px;
    overflow: hidden;
    color: #19222f;
}

.review-area .reviews .single-review .reviewer-thumb img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.review-area .reviews .single-review .reviewer-thumb h3 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0px;
    display: inline-block;
}

.review-area .reviews .single-review .reviewer-thumb span {
    display: block;
    font-size: 14px;
    color: #5350ff;
}

.review-area .reviews .single-review .reviewer-thumb .stars i {
    color: #efc12b;
    font-size: 14px;
}

.review-area .reviews .single-review p {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    color: #212935;
    font-style: italic;
}

.review-area .reviews .owl-dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    display: block;
    transform: translateX(-50%);
}

.review-area .reviews .owl-dots .owl-dot {
    border: 2px solid #19222f;
    margin: 0 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.review-area .reviews .owl-dots .owl-dot.active {
    border-color: #5350ff;
    background: #5350ff;
}

@media (max-width: 400px) {
    .review-area .reviews .owl-dots {
        display: none;
    }
}

/*

===============================
Promo Section
===============================

*/
.promo-section {
    padding: 40px 0;
    text-align: center;
    background: #F35B8E;
}

.promo-section h3 {
    color: #ffffff;
    font-weight: 300;
    font-family: "Heebo", sans-serif;
    font-size: 24px;
}

.promo-section h3 a {
    font-weight: 700;
    margin-right: 10px;
    color: #ffffff;
    transition: 0s;
}

.promo-section h3 a:hover {
    border-bottom: 2px solid #ffffff;
}

/*

===============================
Pricing Plan Area
===============================

*/
.pricing-area .single-pricing {
    padding: 55px 0;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    color: #19222f;
    border: 1px solid #dcdcdc;
}

.pricing-area .single-pricing .featured-price {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    left: -75px;
    background: #F35B8E;
    color: #ffffff;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-area .single-pricing .featured-price span {
    transform: rotate(-90deg);
    padding-top: 90px;
    font-size: 12px;
    font-weight: 500;
}

.pricing-area .single-pricing i {
    font-size: 42px;
    margin-bottom: 40px;
    display: block;
    color: #F35B8E;
}

.pricing-area .single-pricing h1 {
    font-size: 52px;
    margin: 20px 0;
    color: #ffffff;
    background: #F35B8E;
    padding: 15px 0;
}

.pricing-area .single-pricing h1 span {
    position: relative;
    bottom: 20px;
    font-size: 26px;
    margin-right: 0px;
    font-weight: 700;
}

.pricing-area .single-pricing h1 b {
    font-weight: 400;
    font-size: 18px;
}

.pricing-area .single-pricing h2 {
    font-size: 28px;
    margin-bottom: 30px;
}

.pricing-area .single-pricing ul {
    margin-bottom: 30px;
}

.pricing-area .single-pricing ul li {
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.pricing-area .single-pricing.featured-item {
    border-color: #F35B8E;
}

/*

===============================
account-form
===============================

*/
.account-form {
    padding: 100px 0;
}

@media (max-width: 767px) {
    .account-form {
        padding: 100px 0;
    }
}

.account-form .logo {
    margin-bottom: 30px;
    text-align: center;
}

.account-form .logo a img {
    width: 180px;
}

.account-form .title {
    margin-bottom: 30px;
    text-align: center;
}

.account-form .title h3 {
    font-weight: 300;
}

.account-form .via-login {
    text-align: center;
    margin-bottom: 30px;
}

.account-form .via-login a {
    margin-bottom: 10px;
    width: 100%;
    display: block;
    padding: 10px 0;
    color: #ffffff;
    border-radius: 4px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.account-form .via-login a i {
    margin-right: 7px;
}

.account-form form input {
    width: 100%;
    height: 50px;
    text-indent: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 0 20px;
}

.account-form form input:focus {
    border-color: #F35B8E;
}

.account-form form button {
    margin-bottom: 15px;
}

.account-form form p {
    color: #19222f;
    font-size: 13px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

.account-form form p a {
    color: #5350ff;
}

.account-form form p a:hover {
    color: #F35B8E;
    text-decoration: underline;
}

.account-before {
    position: relative;
    height: 100vh;
}

.account-before::before {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    content: "";
    background: url("../images/account.png") no-repeat;
}

@media (max-width: 991px) {
    .account-before::before {
        display: none;
    }
}

/*

===============================
Contact area
===============================

*/
.contact-form input {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px;
    background: transparent;
}

.contact-form input:focus {
    border-color: #F35B8E;
}

.contact-form textarea {
    width: 100%;
    border-bottom: 2px solid #ddd;
    margin-bottom: 30px;
    background: transparent;
}

.contact-form textarea:focus {
    border-color: #F35B8E;
}

.contact-details {
    margin-top: 50px;
    padding: 40px 30px;
    box-shadow: 4px 4px 20px #aeb7f9;
    border-radius: 10px 150px 10px 10px;
}

.contact-details .contact-info ul li {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.contact-details .contact-info ul li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
}

/*

===============================
newslatter area
===============================

*/
.newsletter-area {
    background-size: cover;
    background: #263845;
}

.newsletter-area .newsletter-form form {
    position: relative;
}

.newsletter-area .newsletter-form form input {
    width: 100%;
    height: 60px;
    text-indent: 20px;
    border-radius: 4px;
    background: #fff;
}

.newsletter-area .newsletter-form form button {
    position: absolute;
    right: 0;
    background: #F35B8E;
    border-radius: 4px;
    color: #fff;
    top: 0;
    padding: 0 30px;
    height: 50px;
    margin: 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.newsletter-area .newsletter-form form button:hover {
    background: #F35B8E;
}

.newsletter-area .newsletter-form p {
    font-size: 12px;
    text-align: left;
    color: #fff;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.newsletter-area .newsletter-form p i {
    margin-right: 3px;
}

/*

===============================
FAQ Area
===============================

*/
.faq-contents {
    display: block;
    height: auto;
}

.faq-contents .accordion {
    list-style: none;
    padding: 0;
}

.faq-contents .accordion li {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #a1a8b3;
    border-radius: 4px;
}

.faq-contents .accordion li:last-child {
    margin-bottom: 0px;
}

.faq-contents .accordion li p {
    display: none;
    padding: 10px 30px 20px 20px;
    color: #19222f;
    font-size: 16px;
    margin-bottom: 0;
    line-height: 2;
    border-radius: 4px;
}

.faq-contents .accordion li a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #19222f;
    user-select: none;
    font-weight: 400;
}

.faq-contents .accordion li a i {
    font-size: 18px;
    color: #ffffff;
    margin-right: 20px;
}

.faq-contents .accordion li a.active {
    color: #19222f;
    border: 0;
}

.faq-contents .accordion li a.active::after {
    transform: rotate(225deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-right: 2px solid #a1a8b3;
    border-bottom: 2px solid #a1a8b3;
}

.faq-contents .accordion li a::after {
    width: 10px;
    height: 10px;
    border-right: 2px solid #a1a8b3;
    border-bottom: 2px solid #a1a8b3;
    position: absolute;
    right: 25px;
    content: " ";
    top: 22px;
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/*

===============================
Breadcrumb area
===============================

*/
.breadcrumb-area {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.breadcrumb-area .banner-title h2 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
    text-transform: capitalize;
}
/*.single-product-content-meta h6 span {
    float: right;
}*/

@media (max-width: 767px) {
    .breadcrumb-area .banner-title h2 {
        font-size: 42px;
    }
}

.breadcrumb-area ul li {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
}

.breadcrumb-area ul li a {
    margin-right: 20px;
    position: relative;
    color: #ffffff;
}

.breadcrumb-area ul li a:after {
    position: absolute;
    content: "\f105";
    font-family: Fontawesome;
    right: -15px;
    top: -3px;
}

.breadcrumb-area ul li a:hover {
    color: #F35B8E;
}

.breadcrumb-area .item-img h2 {
    font-size: 36px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 15px;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .breadcrumb-area .item-img h2 {
        font-size: 42px;
    }
}

.breadcrumb-area .item-title {
    color: #ffffff;
}

.breadcrumb-area .item-title h2 {
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.breadcrumb-area .item-title p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.3em;
    font-family: "Noto Sans KR", sans-serif;
}

.breadcrumb-area .item-title .rating {
    margin-top: 15px;
}

.breadcrumb-area .item-title .rating span {
    margin-right: 7px;
}

.breadcrumb-area .item-title .rating span i {
    color: #efc12b;
}

.breadcrumb-area .item-search form {
    position: relative;
}

.breadcrumb-area .item-search form input {
    width: 100%;
    height: 45px;
    text-indent: 15px;
    border-radius: 4px;
}

.breadcrumb-area .item-search form button {
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .custom-banner {
        text-align: center;
    }

    .page-breadcrumb ul {
        float: none;
    }

    .banner-title {
        margin-bottom: 20px;
    }
}

/*

===============================
item-details
===============================

*/
.item-details .item-details-tab nav {
    margin-bottom: 20px;
}

.item-details .item-details-tab nav a {
    border: none;
    font-family: "Noto Sans KR", sans-serif;
    border-bottom: 4px solid transparent;
    margin-right: 5px;
}

.item-details .item-details-tab nav a.active {
    border-color: #F35B8E;
    background: #E9EEF7;
}

.item-details .item-details-tab nav a:hover {
    border-color: #F35B8E;
    background: #E9EEF7;
    color: #19222f;
}

.item-details .item-details-tab .single-tab-content {
    background: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #f5f0f0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.item-details .item-details-tab .single-tab-content img {
    width: 100%;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-btn {
    padding: 20px 0;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-btn a {
    margin: 0 5px;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-header {
    padding: 15px;
    border-bottom: 1px solid #f5f0f0;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-header h4 {
    font-weight: 500;
    font-size: 18px;
    color: #19222f;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-body {
    padding: 15px;
    font-family: "Noto Sans KR", sans-serif;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-body .single-screenshot a:hover {
    opacity: 0.8;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-body p {
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-body ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 14px;
}

.item-details .item-details-tab .single-tab-content .single-tab-content-body ul li::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #5350ff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.item-sidebar .single-item-sidebar {
    border: 1px solid #dee5e7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px;
    background: #ffffff;
    margin-bottom: 30px;
}

.item-sidebar .single-item-sidebar h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
}

.item-sidebar .single-item-sidebar p {
    font-family: "Noto Sans KR", sans-serif;
}

.item-sidebar .single-item-sidebar p a {
    font-weight: 500;
    color: #F35B8E;
}

.item-sidebar .single-item-sidebar p a:hover {
    color: #5350ff;
}

.item-sidebar .single-item-sidebar .sidebar-btn {
    text-align: center;
}

.item-sidebar .single-item-sidebar .sidebar-btn a {
    width: 100%;
}

.item-sidebar .single-item-sidebar .details-pricing-box h3 {
    font-size: 22px;
    font-weight: 400;
}

.item-sidebar .single-item-sidebar .details-pricing-box .price-type select {
    margin-bottom: 10px;
    padding: 7px 12px;
    border: 1px solid #e6e6e6;
    color: #19222f;
}

.item-sidebar .single-item-sidebar .details-pricing-box .price-type select option {
    font-size: 12px;
}

.item-sidebar .single-item-sidebar .details-pricing-box .price-type a {
    color: #F35B8E;
    font-size: 12px;
}

.item-sidebar .single-item-sidebar .details-pricing-box .price-price {
    font-size: 26px;
    font-weight: 500;
    text-align: right;
    font-family: "Noto Sans KR", sans-serif;
    margin-top: 7px;
}

.item-sidebar .single-item-sidebar .details-pricing-box .pricing-feature ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

.item-sidebar .single-item-sidebar .details-pricing-box .pricing-feature ul li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 7px;
}

.item-sidebar .single-item-sidebar .details-pricing-box .pricing-feature ul li::before {
    position: absolute;
    content: "\f058";
    font-size: 16px;
    color: #86BC42;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: Fontawesome;
}

.item-sidebar .single-item-sidebar .single-item-sidebar-table table {
    margin-bottom: 0;
}

.item-sidebar .single-item-sidebar .single-item-sidebar-table table tr td {
    padding: 7px;
    font-size: 13px;
    border: 0;
    width: 50%;
    font-family: "Noto Sans KR", sans-serif;
}

.item-sidebar .single-item-sidebar .single-item-sidebar-table table tr td a {
    color: #5350ff;
}

.item-sidebar .single-item-sidebar .single-item-sidebar-table table tr td a:hover {
    color: #F35B8E;
}

.item-sidebar .single-item-sidebar .sidebar-profile-bar {
    height: 90px;
    background: #5350ff;
    border-bottom: 3px solid #F35B8E;
    border-radius: 4px 4px 0 0;
}

.item-sidebar .single-item-sidebar .sidebar-profile {
    margin-bottom: 15px;
    overflow: hidden;
    margin-top: -25px;
    margin-left: 15px;
    height: 75px;
}

.item-sidebar .single-item-sidebar .sidebar-profile .img {
    width: 100px;
    margin-right: 10px;
    float: left;
}

.item-sidebar .single-item-sidebar .sidebar-profile .img img {
    width: 100%;
    height: auto;
}

.item-sidebar .single-item-sidebar .sidebar-profile .name {
    float: left;
    color: #19222f;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.item-sidebar .single-item-sidebar .sidebar-profile .name h4 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 15px;
}

.item-sidebar .single-item-sidebar .sidebar-profile .name p {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    line-height: 1em;
}

.item-sidebar .single-item-sidebar .sidebar-profile-badge {
    margin-bottom: 15px;
    overflow: hidden;
    margin-left: 15px;
}

.item-sidebar .single-item-sidebar .sidebar-profile-badge img {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 7px;
}

.item-sidebar .single-item-sidebar .sidebar-profile-btn {
    text-align: center;
}

.item-sidebar .single-item-sidebar .sidebar-profile-btn a {
    width: 100%;
}

.item-sidebar .single-item-sidebar .social-share {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.item-sidebar .single-item-sidebar .social-share a {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    margin: 0 3px;
}

.item-sidebar .single-item-sidebar .item-link form {
    position: relative;
}

.item-sidebar .single-item-sidebar .item-link form input {
    width: 100%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #dee5e7;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    text-indent: 10px;
    font-family: "Noto Sans KR", sans-serif;
}

.item-sidebar .single-item-sidebar .item-link form button {
    position: absolute;
    right: 0;
    background: #F35B8E;
    border-radius: 4px;
    color: #fff;
    top: 0;
    padding: 0 30px;
    height: 35px;
    margin: 5px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.item-sidebar .single-item-sidebar .item-link form button:hover {
    background: #5350ff;
}

.item-sidebar .single-item-sidebar .categories ul li {
    border-bottom: 1px solid #dcdcdc;
}

.item-sidebar .single-item-sidebar .categories ul li:last-child {
    border: 0;
}

.item-sidebar .single-item-sidebar .categories ul li a {
    display: block;
    padding: 10px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.item-sidebar .single-item-sidebar .categories ul li a i {
    margin-right: 7px;
}

.item-sidebar .single-item-sidebar .categories ul li a span {
    float: right;
    font-size: 12px;
    font-weight: 400;
    background: #F35B8E;
    padding: 0px 15px;
    border-radius: 100px;
    line-height: 1.9em;
    margin-top: 3px;
    color: #ffffff;
}

.item-sidebar .single-item-sidebar .categories ul li a:hover {
    background: #5350ff;
    color: #ffffff;
}

.item-sidebar .single-item-sidebar .categories ul li.active a {
    background: #5350ff;
    color: #ffffff;
}

.item-sidebar .single-item-sidebar .categories ul li ul li a {
    margin-left: 20px;
}

/* Item Filter */
.result-pagination p {
    margin-bottom: 0;
    margin-top: 0;
}
.category-list{
    border: 1px solid #dee5e7;
    padding: 5px 15px;
}

.item-filter .filter-thumbs a {
    padding: 6px 15px;
    background: #dcdcdc;
    color: #19222f;
    border-radius: 5px;
    display: inline-block;
    margin: 3px;
}

.item-filter .filter-thumbs a:hover, .item-filter .filter-thumbs a.active {
    background: #F35B8E;
    color: #ffffff;
}

.item-filter .filter-select select {
    font-size: 14px;
}

.item-filter .filter-select select option {
    font-size: 14px;
}

/*

===============================
About Section
===============================

*/
.profile-img {
    margin-bottom: 30px;
}

.profile-content p {
    font-size: 18px;
    color: #7c7c7c;
}

.profile-content .progress-report .progress-title span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.profile-content .progress-report .progress {
    margin-bottom: 25px;
    height: 15px;
    background: #19222f;
}

.profile-content .progress-report .progress .progress-bar {
    background: #F35B8E;
}

/*

===============================
Blog Area
===============================

*/
.blog-area {
  /* Pagination */
}

.blog-area .single-blog {
    margin-bottom: 30px;
}

.blog-area .single-blog:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog .single-blog-img {
    position: relative;
}

.blog-area .single-blog .single-blog-img img {
    width: 100%;
    border-radius: 8px;
}

.blog-area .single-blog .single-blog-img a {
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-45%, -50%);
    opacity: 0;
    transition: 0.3s;
}

.blog-area .single-blog .single-blog-img a:hover {
    color: #ff6348;
}

.blog-area .single-blog .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #212935;
    opacity: 0;
    transition: 0.4s;
    border-radius: 8px;
}

.blog-area .single-blog .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    width: 90%;
    margin: auto;
    margin-top: -70px;
    position: relative;
}

.blog-area .single-blog .single-blog-content .blog-meta {
    margin-bottom: 10px;
}

.blog-area .single-blog .single-blog-content .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #19222f;
}

.blog-area .single-blog .single-blog-content .blog-meta span a:hover {
    color: #F35B8E;
}

.blog-area .single-blog .single-blog-content .blog-meta span a i {
    color: #F35B8E;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .single-blog .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 5px;
    line-height: 1.4em;
    font-weight: 400;
}

.blog-area .single-blog .single-blog-content h3 a {
    color: #212935;
}

.blog-area .single-blog .single-blog-content h3 a:hover {
    color: #F35B8E;
    text-decoration: underline;
}

.blog-area .single-blog .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .single-blog-2 {
    margin-bottom: 30px;
}

.blog-area .single-blog-2:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog-2:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog-2 .single-blog-img {
    position: relative;
}

.blog-area .single-blog-2 .single-blog-img img {
    width: 100%;
}

.blog-area .single-blog-2 .single-blog-img a {
    font-size: 26px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
}

.blog-area .single-blog-2 .single-blog-img a:hover {
    color: #F35B8E;
}

.blog-area .single-blog-2 .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #212935;
    opacity: 0;
    transition: 0.4s;
}

.blog-area .single-blog-2 .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    position: relative;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta {
    margin-bottom: 10px;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #19222f;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a:hover {
    color: #F35B8E;
}

.blog-area .single-blog-2 .single-blog-content .blog-meta span a i {
    color: #F35B8E;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .single-blog-2 .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.blog-area .single-blog-2 .single-blog-content h3 a {
    color: #212935;
}

.blog-area .single-blog-2 .single-blog-content h3 a:hover {
    color: #5350ff;
    text-decoration: underline;
}

.blog-area .single-blog-2 .single-blog-content p {
    margin-bottom: 0;
}

.blog-area .single-blog-3 {
    margin-bottom: 30px;
}

.blog-area .single-blog-3:hover .single-blog-img::before {
    opacity: 0.7;
}

.blog-area .single-blog-3:hover .single-blog-img a {
    opacity: 1;
}

.blog-area .single-blog-3 .single-blog-img {
    position: relative;
}

.blog-area .single-blog-3 .single-blog-img img {
    width: 100%;
}

.blog-area .single-blog-3 .single-blog-img .blog-meta {
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.blog-area .single-blog-3 .single-blog-img .blog-meta span {
    text-transform: uppercase;
    background: #F35B8E;
    padding: 8px 22px;
    display: block;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}

.blog-area .single-blog-3 .single-blog-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #212935;
    opacity: 0;
    transition: 0.4s;
}

.blog-area .single-blog-3 .single-blog-content {
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
    background: #ffffff;
    position: relative;
}

.blog-area .single-blog-3 .single-blog-content h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.blog-area .single-blog-3 .single-blog-content h3 a {
    color: #212935;
}

.blog-area .single-blog-3 .single-blog-content h3 a:hover {
    color: #F35B8E;
    text-decoration: underline;
}

.blog-area .single-blog-3 .single-blog-content p {
    margin-bottom: 0;
}

.styled-pagination {
    position: relative;
    margin-bottom: 30px;
}

.styled-pagination li {
    position: relative;
    display: inline-block;
    margin: 0px 3px 0px 0px;
}

.styled-pagination li.previous a, .blog-area .styled-pagination li.next a {
    color: #212935;
}

.styled-pagination li a {
    position: relative;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    min-width: 50px;
    border-radius: 50%;
    color: #212935;
    text-align: center;
    text-transform: capitalize;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    background-color: #f1f1f1;
}

.styled-pagination li a:hover, .styled-pagination li a.active {
    color: #ffffff;
    background-color: #F35B8E;
}

.blog-area .blog-details img {
    width: 100%;
    margin-bottom: 30px;
}

.blog-area .blog-details .blog-meta {
    margin-bottom: 10px;
}

.blog-area .blog-details .blog-meta span a {
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    color: #19222f;
}

.blog-area .blog-details .blog-meta span a:hover {
    color: #F35B8E;
}

.blog-area .blog-details .blog-meta span a i {
    color: #F35B8E;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.blog-area .blog-details h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}

.blog-area .blog-details .blockquote {
    font-size: 16px;
    border-left: 2px solid #F35B8E;
    font-style: italic;
    padding-left: 15px;
    margin: 20px 0;
    padding: 20px;
    background: #574b9026;
}

.blog-area .blog-all-comments h3 {
    margin-bottom: 20px;
    font-weight: 600;
}

.blog-area .blog-all-comments .blog-comments {
    margin-bottom: 40px;
    padding: 30px 40px;
    overflow: hidden;
    background: #f9f9f9;
}

.blog-area .blog-all-comments .blog-comments div {
    overflow: hidden;
}

.blog-area .blog-all-comments .blog-comments .author-thumb {
    width: 20%;
    float: left;
}

.blog-area .blog-all-comments .blog-comments .author-thumb img {
    border-radius: 50%;
    width: 70px;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-details h4 {
    float: left;
    font-size: 18px;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-details .comment-reply-btn {
    float: right;
}

.blog-area .blog-all-comments .blog-comments .author-comments .author-designation {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    font-style: italic;
}

.blog-area .blog-comment-form {
    margin-bottom: 30px;
}

.blog-area .blog-comment-form h3 {
    margin-bottom: 15px;
    text-transform: uppercase;
}

.blog-area .blog-comment-form input, .blog-area .blog-comment-form textarea {
    width: 100%;
    border: 2px solid #E5E5E5;
    text-indent: 20px;
    margin-bottom: 30px;
    transition: .3s;
    background: transparent;
}

.blog-area .blog-comment-form input:focus, .blog-area .blog-comment-form textarea:focus {
    border-color: #F35B8E;
}

.blog-area .blog-comment-form input {
    height: 50px;
}

.blog-area .blog-comment-form textarea {
    padding-top: 15px;
}

.blog-area .blog-comments + .blog-comments {
    margin-left: 15%;
}

@media (max-width: 767px) {
    .blog-area .blog-comment-form {
        margin-bottom: 40px;
    }
}

.blog-area .post-share-and-tag {
    margin: 40px 0 60px 0;
}

.blog-area .post-share-and-tag .social {
    float: right;
}

@media (max-width: 767px) {
    .blog-area .post-share-and-tag .social {
        float: none;
        text-align: left;
        margin-top: 20px;
    }
}

.blog-area .post-share-and-tag .social span {
    font-size: 20px;
    font-weight: 700;
}

.blog-area .post-share-and-tag .social a {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

.blog-area .post-share-and-tag .tags a {
    color: #19222f;
    text-transform: capitalize;
}

.blog-area .post-share-and-tag .tags a:hover {
    color: #5350ff;
}

/*

===============================
Privacy polices area
===============================

*/
.polices-content {
    margin-top: -6px;
}

.polices-content h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.polices-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.polices-content p {
    margin-bottom: 30px;
}

.polices-content ul li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 25px;
}

.polices-content ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f111";
    font-family: Fontawesome;
    color: #F35B8E;
    font-size: 8px;
}

.polices-content ul li:last-child {
    margin-bottom: 0px;
}

.polices-content.cl-white ul li:before {
    color: #ffffff;
}

/*

===============================
Sidebar
===============================

*/
.site-sidebar .single-sidebar {
    margin-bottom: 40px;
    padding: 30px;
    box-shadow: 0px 0px 8px 0px rgba(96, 187, 191, 0.15);
}

.site-sidebar .single-sidebar div {
    overflow: hidden;
}

.site-sidebar .single-sidebar:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar h3 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.site-sidebar .single-sidebar form {
    width: 100%;
    position: relative;
    height: 50px;
    border-radius: 4px;
}

.site-sidebar .single-sidebar form input {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    text-indent: 15px;
    border: 2px solid #e4e4e4;
}

.site-sidebar .single-sidebar form input:hover, .site-sidebar .single-sidebar form input:focus {
    border-color: #F35B8E;
}

.site-sidebar .single-sidebar form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #F35B8E;
    height: 100%;
    width: 50px;
}

.site-sidebar .single-sidebar form:hover button {
    background: #F35B8E;
    color: #ffffff;
}

.site-sidebar .single-sidebar ul li {
    margin-bottom: 20px;
    position: relative;
    transition: 0.4s;
}

.site-sidebar .single-sidebar ul li:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar ul li:before {
    position: absolute;
    content: "\f101";
    font-family: 'Fontawesome';
    color: #F35B8E;
    left: -10px;
    opacity: 0;
    transition: 0.4s;
}

.site-sidebar .single-sidebar ul li:hover {
    padding-left: 15px;
}

.site-sidebar .single-sidebar ul li:hover:before {
    left: 0px;
    opacity: 1;
}

.site-sidebar .single-sidebar ul li a {
    color: #19222f;
    display: block;
    text-transform: capitalize;
}

.site-sidebar .single-sidebar ul li a:hover {
    color: #F35B8E;
}

.site-sidebar .single-sidebar .social-follow a {
    padding: 25px 29px;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    font-family: "Noto Sans KR", sans-serif;
    margin: 0 1px;
}

.site-sidebar .single-sidebar .social-follow a:hover {
    background: #F35B8E;
}

.site-sidebar .single-sidebar .social-follow a i {
    display: block;
    font-size: 18px;
}

@media (max-width: 991px) {
    .site-sidebar .single-sidebar .social-follow a {
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .site-sidebar .single-sidebar .social-follow a {
        width: 100%;
    }
}

.site-sidebar .single-sidebar .archives a {
    display: block;
    margin-bottom: 15px;
    font-family: "Noto Sans KR", sans-serif;
    color: #212935;
}

.site-sidebar .single-sidebar .archives a:hover {
    color: #F35B8E;
}

.site-sidebar .single-sidebar .archives a:last-child {
    margin-bottom: 0;
}

.site-sidebar .single-sidebar .archives a span {
    float: right;
}

.site-sidebar .single-sidebar a img {
    width: 100%;
}

/*Munna css*/
.campainer-name{
    font-size: 20px;
    margin-bottom: 6px;
    display: block;
}
.leftt img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}
.leftt p, .left span{
    color: #ddd !important;
}
.social-item a {
    margin-top: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #ff4864;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 45px;
    color: #fff;
}
.videoo iframe {
    border: 5px solid #d687a2;
    border-radius: 5px;
}
.interestesd_section {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 5px 25px;
}
.interestesd_section p span {
    color: #2196F3;
    margin-right: 6px;
    font-size: 16px;
}
.interestesd_section p  {
    text-transform: uppercase;
}
.interestesd_section p i {
    font-size: 22px;
}
.edu_title {
    float: left;
    margin-right: 90px;
}
.img_edu {
    height: 100px;
    width: 100px;
    overflow: hidden;
}
.single_imgg {
    float: left;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #E0E0E0;
    overflow: hidden;
}
.single_imgg img {
    height: 100%;
    width: 100%;
}
.single_title {
    margin-bottom: 20px;
}
.button_areaa a {
    display: inline-block;
    font-size: 16px;
}
a.nav-link.active {
    color: #81cf01;
}
.hero_slider .owl-nav button i {
    font-size: 20px;
    border: 1px solid #848484;
    padding: 7px 16px;
    margin-right: 6px;
    border-radius: 5px;
    margin-top: 20px;
}
.popular_project .owl-nav {
    position: absolute;
    right: 0;
    top: -70px;
}
.popular_project .owl-nav button i {
    font-size: 20px;
    border: 1px solid #333;
    padding: 7px 16px;
    margin-right: 6px;
    border-radius: 5px;
    margin-top: 20px;
}

.color-overlay2 {
    background-size: cover !important;
    position: relative;
    z-index: 1;
}
.color-overlay2:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #2196F3;
    content: "";
    z-index: -1;
    opacity: .8;
}
.breadcrumb-areaaa {
    padding: 100px 30px !important;
}
.banneer_imggg {
    width: 570px;
}
.banner-titlee {
    margin-top: 50px;
}
.banner-titlee h2 {
    margin-bottom: 25px;
}
.banner-titlee p {
    margin-bottom: 30px;
    font-size: 18px;
}
.banner-titlee a {
    color: #fff;
    text-transform: uppercase;
    background: #FFC107;
    border: 1px solid #FFC107;
}
.agency_data p span {
    font-weight: 600;
    font-size: 16px;
}

.agency_data p {
    line-height: 20px;
    margin-bottom: 12px;
}
.agency_button_areaa a {
    display: inline-block;
    font-size: 11px;
}
.grayBg {
    background: rgba(245, 245, 245, 0.36);
    padding: 100px 0;
}
.bottom_araaa {
    background: #fff;
}
.categori_alll i {
    font-size: 22px;
    color: #2196F3;
}

/*new css started*/
.hiremeModal .modal-header {
    border-bottom: 1px solid transparent;
}
.hiremeModal .modal-footer {
    border-top: 1px solid transparent;
}
.modal-body.hirebody {
    padding: 0px 30px;
}

.hiremeFormData label {
        font-weight: 600;
    font-size: 20px;
}
.top_area_hire h4 {
    color: #F35B8E;
    text-transform: uppercase;
}
.perk_img img {
    height: 100%;
    width: 100%;
}
.perk_img {
    width: 340px;
    height: 270px;
    text-align: center;
    margin: 0 auto;
}
.proflie_img img {
    height: 100%;
    width: 100%;
} 
.campaign_imggg img {
    height: 100%;
    width: 100%;
}

.campaign_imggg {
    width: 270px;
    height: 270px;
    overflow: hidden;
    margin-right: 30px;
}